*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: linear-gradient(#5DA4D9, #FFF);
    background-repeat: no-repeat;
    font-family: 'Baloo 2', cursive;
}

main{
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    font-size: 2.5rem;
    color: #fff;
}

#emoji-container{
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#emoji-input{
    width: 250px;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.2em;
    padding: 0.3em 0.1em;
}

.add-section,
.remove-section{
    margin-bottom: 1.4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
}

.btn{
    border: none;
    border-radius: 5px;
    padding: 0.3em 1.2em;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.add-btn{
    background-color: #80d87f;
}

.add-btn:hover,
.add-btn:focus{
    background-color: #003c00;
}

.remove-btn{
    background-color: #e23349;
}

.remove-btn:hover,
.remove-btn:focus{
    background-color: #6c0000;
}

